.services {
    .container {
        padding: 40px 0;
        @media (max-width: 990px) {
            padding: 20px 0;
        }
    }
    @media (max-width: 576px) {
        .title {
            text-align: left;
        }
    }
}

.services-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    @media (max-width: 990px) {
        grid-template-columns: 1fr;
    }
}

.services-box {
    padding: 20px;
    position: relative;
    z-index: 2;
    &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        border: 1px solid #40A798;
        left: -10px;
        top: 10px;
        z-index: -2;
        @media (max-width: 990px) {
            top: 15px;
        }
    }
    &::after {
        content: '';
        background: #fff;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .services-title {
        font: normal 1.5rem/25px "Roboto", sans-serif;
        color: #1E1E1E;
        margin-bottom: 20px;
        text-align: center;
        @media (max-width: 990px) {
            text-align: left;
            margin-bottom: 15px;
        }
    }
    .services-box-sm {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 15px;
        @media (max-width: 1100px) {
            flex-direction: column;
        }
        p:first-child {
            margin-right: 25px;
            width: 150px;
            @media (max-width: 1100px) {
                width: auto;
                margin: 0 0 5px 0;
            }
        }
    }
    .services-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 1100px) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }
        span {
            margin-left: 14px;
        }
        a {
            display: block;
            @media (max-width: 1100px) {
                margin-top: 15px;
            }
        }
    }
}

.anons {
    .container {
        padding: 40px 0;
        @media (max-width: 990px) {
            padding: 20px 0;
        }
    }
    .title {
        text-align: left;
    }
    .img-mob {
        display: none;
        @media (max-width: 990px) {
            display: block;
            position: relative;
            z-index: 2;
            height: auto;
            max-width: 100%;
            margin-top: 40px;
        }
        @media (max-width: 450px) {
            position: absolute;
            height: 300px;
            max-width: 120%;
            left: -10%;
        }
    }
}

.anons-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    @media (max-width: 990px) {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }
}

.anons-box-img {
    z-index: 2;
    position: relative;
    img {
        max-width: 100%;
        height: auto;
        @media (max-width: 990px) {
            display: none;
        }
    }
}

.anons-box-text {
    padding: 50px 60px 50px 0;
    position: relative;
    @media (max-width: 990px) {
        padding: 30px 20px 70px 20px;
    }
    @media (max-width: 450px) {
        height: 600px;
    }
    .anons-title {
        color: #FFF;
        font: bold 2.5rem "Merriweather", serif;
        margin-bottom: 20px;
        line-height: 60px;
        z-index: 2;
        position: relative;
        @media (max-width: 990px) {
            font: bold 1.65rem "Merriweather", serif;
            line-height: 35px;
        }
    }
    .anons-text {
        color: #fff;
        z-index: 2;
        position: relative;
        margin-bottom: 30px;
    }
    a {
        position: relative;
        z-index: 2;
    }
    &::before {
        content: '';
        background: #40A798;
        position: absolute;
        display: block;
        height: 550px;
        width: 700px;
        right: 0;
        top: 10px;
        @media (max-width: 990px) {
            top: 0;
            left: 0;
            width: 100%;
            height: 102%;
        }
        @media (max-width: 576px) {
            width: 200%;
        }
    }
}

.about {
    background: #fff;
}

.about-wrapper {
    padding: 40px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    @media (max-width: 990px) {
        grid-gap: 20px;
        grid-template-columns: 1fr;
    }
    .title {
        text-align: left;
        margin-bottom: 20px;
    }
    .text {
        max-width: 540px;
        @media (max-width: 990px) {
            margin: 0 auto;
        }
        @media (max-width: 768px) {
            max-width: 100%;
        }
    }
    .mob-img {
        display: none;
        @media (max-width: 576px) {
            display: block;
            height: auto;
            margin: 20px 0;
            position: relative;
            max-width: 100%;
            height: auto;
        }
        @media (max-width: 450px) {
            max-width: 220%;
            height: auto;
            left: -32%;
        }
        @media (max-width: 320px) {
            left: -40%;
            max-width: 150%;
        }
    }
}

.about-img {
    display: flex;
    justify-content: flex-end;
    @media (max-width: 990px) {
        margin: 0 auto;
    }
    @media (max-width: 576px) {
        display: none;
    }
    img {
        height: auto;
        max-width: 100%;
    }
}

.review {
    .container {
        padding: 60px 0;
        @media (max-width: 990px) {
            padding: 30px 0;
        }
    }
    .slick-slide {
        margin: 0 10px;
        outline: none;
    }
}

.mob-review {
    display: none;
    @media (max-width: 990px) {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        a {
            margin-bottom: 20px;
        }
    }
}

.review-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: #fff;
    padding: 30px;
    @media (max-width: 990px) {
        padding: 15px;
    }
    @media(max-width: 576px) {
        flex-wrap: wrap;
    }
}

.review-img {
    margin-right: 20px;
    @media (max-width: 990px) {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
    }
    img {
        @media (max-width: 990px) {
            margin-right: 15px;
        }
    }
    @media(max-width: 576px) {
        margin: 0 0 15px 0;
    }
}

.review-info {
    display: flex;
    flex-direction: column;
}

.review-box-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.review-name {
    color: #1E1E1E;
    font: normal 1.2rem "Merriweather", serif;
}

.desk-review {
    @media (max-width: 990px) {
        display: none;
    }
}

.post {
    background: #fff;
    margin-top: 50px;
    @media (max-width: 990px) {
        margin-top: 35px;
    }
    .container {
        padding: 50px 0;
        @media (max-width: 990px) {
            padding: 30px 0;
        }
    }
    .title {
        @media (max-width: 990px) {
            font: normal 2rem "Merriweather", serif;
        }
    }
}

.post-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    @media (max-width: 1100px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @media (max-width: 990px) {
        grid-template-columns: 1fr 1fr;
    }
}

.desk {
    @media (max-width: 576px) {
        display: none;
    }
}

.post-img {
    height: 100%;
    width: 100%;
    border: 1px solid #EDEDED;
    img {
        height: 100%;
        object-fit: cover;
        width: 100%;
        max-width: 100%;
    }
}

.post-container-2 {
    display: none;
    @media (max-width: 576px) {
        display: block;
    }
    .slick-slide img {
        margin: 0 auto;
    }
}

.short-me {
    .container {
        padding: 50px 0;
        max-width: 850px;
        padding-top: 0;
        @media (max-width: 990px) {
            padding: 30px 0;
            padding-top: 0;
        }
    }
}

.short-me-container {
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
    }
}

.short-me-info {
    position: relative;
    padding: 30px;
    @media (max-width: 576px) {
        padding: 30px 10px;
        padding-left: 0;
    }
    &::before {
        content: '';
        background: #40A798;
        position: absolute;
        display: block;
        height: 100%;
        width: 550px;
        left: -10px;
        top: 0;
        @media (max-width: 768px) {
            width: 100%;
            height: 540px;
        }
        @media (max-width: 576px) {
            left: -100px;
            width: 150%;
        }
    }
    .short-me-title {
        color: #FFF;
        font: bold 2.75rem "Merriweather", serif;
        margin-bottom: 30px;
        line-height: 60px;
        z-index: 2;
        position: relative;
        @media (max-width: 990px) {
            font: bold 1.65rem "Merriweather", serif;
            line-height: 35px;
            margin-bottom: 10px;
        }
    }
    .short-me-text {
        position: relative;
        z-index: 2;
        margin-bottom: 5px;
        color: #fff;
        &::before {
            content: '-';
            position: absolute;
            left: -12px;
        }
        @media (max-width: 576px) {
            line-height: 25px;
            margin-left: 10px;
        }
        br {
            @media (max-width: 576px) {
                display: none;
            }
        }
    }
    .btn-transparent {
        display: inline-block;
        margin-top: 30px;
        padding: 12px 40px;
        @media (max-width: 576px) {
            margin-top: 15px;
        }
    }
}

.me-photo-mob {
    display: none;
    @media (max-width: 768px) {
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 2;
        top: 50px;
        right: 0;
        margin-bottom: 20px;
    }
    @media (max-width: 576px) {
        right: -24px;
        top: 30px;
    }
    img {
        @media (max-width: 576px) {
            max-width: 120%;
            height: auto;
            margin-left: auto;
        }
    }
}

.short-me-photo {
    position: relative;
    z-index: 3;
    top: 30px;
    @media (max-width: 768px) {
        display: none;
    }
}

.btn-transparent {
    position: relative;
    z-index: 2;
}

.social-box {
    margin-top: 10px;
    position: relative;
    left: -10px;
    @media (max-width: 576px) {
        left: 0;
    }
    .text {
        margin-bottom: 5px;
    }
    .social-link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 150px;
        @media (max-width: 576px) {
            width: 170px;
        }
    }
}